.carousel-inner {
  padding-top: 15px;
  aspect-ratio: 2/1;

  @include for-breakpoint(md) {
    padding-top: 30px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(grey, 0.8);
  border-radius: 100%;
  top: 50%;
  bottom: unset;
  width: auto;
  padding: 10px;
  margin: 0 20px;
  transform: translateY(-50%);
}
